// Wrapper width
$global-wrapper-width: 1180px;

// Font Family
$font-family: Roboto, "Helvetica Neue", sans-serif;

// Colors
$primary: #41d4c8;
$secondary: #1d2320;
$secondary-light: #2c3631;
$white: #FFFFFF;
$light: #dfe7e7;
$accent: #3e8d8c;
$error: #e61f1f;
