<div class="input-wrapper" [formGroup]="form">
    <label *ngIf="inputType !== 'checkbox'">{{ label }}</label>
    <ng-container [ngSwitch]="inputType">
        <input *ngSwitchCase="'text'" [type]="type" [formControlName]="controlKey" class="text-input">
        <ng-container *ngSwitchCase="'image'">
            <div class="img-dropzone">
                <ng-container *ngIf="imgString; else uploadBtn">
                    <div class="img">
                        <img [src]="imgString" alt="Preview">
                        <button class="delete" (click)="deleteImage()">
                            Törlés
                        </button>
                    </div>
                </ng-container>
                <ng-template #uploadBtn>
                    <button class="upload" (click)="fileUpload.click()">
                        Feltöltés
                    </button>
                </ng-template>
            </div>

            <input type="file" id="image-upload" #fileUpload hidden (change)="fileSelected($event.target.files)" multiple="false" accept=".png, .jpeg, .jpg">
        </ng-container>
    </ng-container>
    <div class="errors" *ngIf="control.touched && control.invalid" @expand>
        <p class="error" *ngIf="hasPatternError()">{{ patternError }}</p>
        <p class="error" *ngIf="hasRequiredError()">{{ requiredError }}</p>
    </div>
</div>