<div class="registration-card">
    <div class="header">
        <h2>Regisztráció</h2>
    </div>
    <div class="body">
        <app-input-field [form]="registerForm" controlKey="username" label="Felhasználónév"
            requiredError="Felhasználónév megadása kötelező">
        </app-input-field>

        <app-input-field [form]="registerForm" controlKey="email" label="Email cím"
            requiredError="Email cím megadása kötelező" patternError="Az e-mail cím formátuma nem megfelelő">
        </app-input-field>

        <app-input-field [form]="registerForm" controlKey="password" label="Jelszó" type="password"
            requiredError="Jelszó kitöltése kötelező"
            patternError="A jelszó legalább 8 karakter, tartalmaznia kell kis és nagybetűt, illetve számot!">
        </app-input-field>

        <app-input-field [form]="registerForm" controlKey="passwordAgain" label="Jelszó újra" type="password"
            requiredError="Jelszó kitöltése kötelező"
            patternError="A jelszó legalább 8 karakter, tartalmaznia kell kis és nagybetűt, illetve számot!">
        </app-input-field>

        <ng-container [formGroup]="registerForm">
            <ngx-recaptcha2 [siteKey]="recaptchaSitekey" hl="hu" formControlName="recaptcha">
            </ngx-recaptcha2>
            <div class="errors" *ngIf="registerForm.get('recaptcha').hasError('required') && registerForm.get('recaptcha').touched">
                <div class="error" *ngIf="registerForm.get('recaptcha').hasError('required')">
                    A RECAPTCHA mező kitöltése kötelező!
                </div>
            </div>
        </ng-container>


        <div class="button-wrapper-center">
            <button class="btn" (click)="onSubmit()">Regisztráció</button>
        </div>

        <div class="button-wrapper-center">
            <a class="btn alt" [routerLink]="['/', 'auth', 'login']">Bejelentkezés</a>
        </div>
    </div>
</div>